<h1>The gardens</h1>

<p>See top gardens <%= link_to 'here', top_gardens_path%></p>

<% @gardens.each do |garden| %>
<li><%= link_to garden.name,  garden_path(garden)%>  <%= garden.stars %> <%= link_to 'Delete', garden_path(garden), method: :delete, data: { confirm: 'Are you sure ?' }%> </li>
<% end %>

<br>
<br>

<%= link_to 'New garden',  new_garden_path%>


